<ion-header>
  <ion-toolbar>
    <ion-title>
      Fichar
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <app-time-tracking-clock></app-time-tracking-clock>

  <div padding *ngIf="isWorking">
    <ion-button size="large" type="buton" (click)="pause()" expand="block">Pause</ion-button>
  </div>
  <div padding *ngIf="!isWorking">
    <ion-button size="large" type="buton" (click)="work()" expand="block">Work</ion-button>
  </div>

  <div padding>
    <ion-button size="large" type="buton" (click)="finish()" expand="block">Finish Work</ion-button>
  </div>
  <div padding>
    <app-time-tracking-list></app-time-tracking-list>
  </div>
</ion-content>
