<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="time-tracking">
      <i class="fas fa-stopwatch"></i>
      <ion-label>Fichar</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="worked-hours">
      <i class="fas fa-hourglass-half"></i>
      <ion-label>Cómputo Horas</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="time-tracking-history-list">
      <!-- <i class="far fa-clock"></i> -->
      <!-- <ion-icon name="send"></ion-icon> -->
      <i class="fas fa-history"></i>
      <ion-label>Histórico</ion-label>
    </ion-tab-button>
    <app-logout></app-logout>
  </ion-tab-bar>

</ion-tabs>
