<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="time-tracking-buttons">
      <i class="far fa-clock"></i>
      <ion-label>Fichar</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="time-tracking-list">
      <i class="fas fa-sack-o"></i>
      <ion-label>Bolsa de Horas</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="time-tracking-history-list">
      <!-- <i class="far fa-clock"></i> -->
      <!-- <ion-icon name="send"></ion-icon> -->
      <i class="fas fa-hourglass-half"></i>
      <ion-label>Tiempo trabajado</ion-label>
    </ion-tab-button>
    <app-logout></app-logout>
  </ion-tab-bar>

</ion-tabs>
