<!-- <div *ngFor="let timeTrack of timeTrackList">
  <app-time-tracking [timeTracking]="timeTrack"></app-time-tracking>
</div> -->
<h1>Bolsa de horas</h1>
<span>Filtros</span>

<div>
  <button (click)="timeTrackingBagToday()">Hoy</button>
  <button (click)="timeTrackingBagThisWeek()">Esta semana</button>
  <button (click)="timeTrackingBagThisMonth()">Este Mes</button>
  <button (click)="timeTrackingBagThisYear()">Este Año</button>
</div>

<div padding style="width: 100%; height: 100%;">
  <ag-grid-angular style="width: 100%; height: 100%;" class="ag-theme-balham" [rowData]="timeTrackList"
    [columnDefs]="timeTrackColumns">
  </ag-grid-angular>
</div>
